* {
    margin: 0;
    padding: 0;
}



:root {
    --button-colors: #FEFAD7;
    --border-buttons: 0.1em solid #FDED74;
    --backgroundcolor-buttons: #B64E0F;
    --border-radius-buttons: 1.3em;
    --button-font: 'Comic Neue', cursive;
    --position-sticky: absolute; 
}



/* .main-header {
    
} */


p, h1, h3, b {
    font-family: var(--button-font);
}

a {
    text-decoration: none;
    color: var(--button-colors);
}

.top-buttons {
    display: flex;
    justify-content: end;
    /* border-radius: 0.3em; */
    /* width: 15em;
    height: 3em; */
    margin: 0.5em;
    gap: 1em;
    /* line-height: 2.2em; */
}

.rat-plan-logo {
    position: var(--position-sticky);
    top: 0em;
    left: -1em;
    transform: rotate(10deg);
}

.kurv {
    background-color: var(--backgroundcolor-buttons);
    border: var(--border-buttons);
    text-align: center;
    line-height: 2.5em;
    border-radius: 2em;
    width: 2em;
    height: 2em;

}

.logind {
    background-color: var(--backgroundcolor-buttons);
    border: var(--border-buttons) ;
    border-radius: 1.3em;
    width: 5em;
    height: 2.3em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
    text-decoration: none;
}

.signup {
    background-color: var(--backgroundcolor-buttons) ;
    border: var(--border-buttons);
    border-radius: 1.3em;
    width: 7em;
    height: 2.3em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
}

.middle {
    display: flex;
    justify-content: center;
    height: 2.3em;
    gap: 1.5em;
    margin-right: 5em;
    line-height: 2.2em;
}

/* .end-buttons {
    display: flex;
    justify-content: center;
    border-radius: 0.3em;
    width: 15em;
    height: 3em;
    margin-left: 1em;
    gap: 1em;
    line-height: 2.2em;
} */

.planer-header {
    background-color:var(--backgroundcolor-buttons);
    border: var(--border-buttons);
    border-radius: 1.3em;
    width: 5em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
}

.tilbehør {
    background-color:var(--backgroundcolor-buttons);
    border: var(--border-buttons);
    border-radius: 1.3em;
    width: 5em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
}

.søgefelt {
    background-color:var(--backgroundcolor-buttons);
    border: var(--border-buttons);
    width: 17em;
    height: 2.3em;
    border-radius: var(--border-radius-buttons);
    text-align: center;
}

.søgefelt button {
    width: 4.5em;
    height: 1.7em;
    font-family: var(--button-font);
}

.søgefelt input[type=text] {
    background-color: var(--button-colors);
    font-family: var(--button-font);
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20em;
}

main .planer-box, .tilbehør-box {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    width: 20em;
    height: 20em;
    background-color: #FCE640;
    justify-content: center; 
    text-align: center;
    align-items: center;
    gap: 2.5em;
    color: #000000;
    /* justify-content: center;
    align-items: center; */
    /* text-align: center;
    justify-content: center;
    align-content: space-between; */
}

/* main div h1 {
} */

body {
    background-image: linear-gradient(#644D26, #D1B585);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    background-image: linear-gradient(#FEFAD7, #D1B585);
}


/* Opret ny konto side */

form {
    font-family: var(--button-font);
    width: 70em;
    /* height: 30em; */
    display: flex;
    gap: 10em;
    flex-direction: column;
}


fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: solid 0.1em #000000;
    border-radius: 0.5em;
    background-color: var(--backgroundcolor-buttons);
    box-shadow: -3px 5px 5px black;
    margin: 0 auto;
    padding: 1em;
}

fieldset label {
    align-items: center;
}

fieldset label input {
    background-color: var(--button-colors);
    /* text-align: center; */
    margin-left: 30px;
}

.signuptoday {
    display: flex;
    flex-direction: column;
    align-items: end;
}

span {
    display: inline-block;
    width:10em;
    justify-content: center;
    font-family: var(--button-font);
}

.success {
    font-family: var(--button-font);
}



/* Plan side */
.planpage table, th, td {
    border: 0.1em solid #000000;
    border-radius: 0.5em;
    font-family: var(--button-font);
}

.planpage table button {
    border: 0.1em solid #000000;
    width: 7em;
    height: 2em;
    border-radius: 0.2em;
    font-family: var(--button-font);
}

.planpage table button:hover {
    cursor: pointer;
}

.planpage table {
    background-color: #FDED74;
    width: 55%;
    border-spacing: 0.3em;
}

.planpage th, td {
    background-color: var(--backgroundcolor-buttons);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

/* Log ind side */

.signin {
    line-height: 2em;
}

.signedin {
    font-family: var(--button-font);
}

/* Produktside */

#produkter {
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: center;
  }
  
  #produkter img {
    border-radius: 1em;
    width: 150px; 
    height: 150px; 
    margin: 10px;
    border: 1px solid var(--button-colors);
    box-sizing: border-box;
  }

  /* Produktets side */

  