* {
    margin: 0;
    padding: 0;
}



:root {
    --button-colors: #FEFAD7;
    --border-buttons: 0.1em solid #FDED74;
    --backgroundcolor-buttons: #B64E0F;

}

/* .main-header {
    
} */


p, h1, h3 {
    font-family: 'Comic Neue', cursive;
}

.top-buttons {
    display: flex;
    justify-content: end;
    border-radius: 0.3em;
    /* width: 15em;
    height: 3em; */
    margin: 0.5em;
    gap: 1em;
    line-height: 2.2em;
}

.kurv {
    background-color:#B64E0F;
    border: 0.1em solid #FDED74;
    border-radius: 2em;
    width: 2em;
    height: 2em;

}

.logind {
    background-color: var(--backgroundcolor-buttons);
    border: var(--border-buttons) ;
    border-radius: 1.3em;
    width: 5em;
    height: 2.3em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
    text-decoration: none;
}

.signup {
    background-color:#B64E0F;
    border: 0.1em solid #FDED74;
    border-radius: 1.3em;
    width: 7em;
    height: 2.3em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
}

.middle {
    display: flex;
    justify-content: center;
    height: 2.3em;
    gap: 1.5em;
    margin-right: 5em;
    line-height: 2.2em;
}

/* .end-buttons {
    display: flex;
    justify-content: center;
    border-radius: 0.3em;
    width: 15em;
    height: 3em;
    margin-left: 1em;
    gap: 1em;
    line-height: 2.2em;
} */

.planer-header {
    background-color:#B64E0F;
    border: 0.1em solid #FDED74;
    border-radius: 1.3em;
    width: 5em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
}

.tilbehør {
    background-color:#B64E0F;
    border: 0.1em solid #FDED74;
    border-radius: 1.3em;
    width: 5em;
    gap: 1em;
    text-align: center;
    line-height: 2.2em;
}

.søgefelt {
    background-color:#B64E0F;
    width: 20em;
    height: 2.3em;
    border: 0.1em solid #FDED74;
    border-radius: 0.3em;
}

.søgefelt input[type=text] {
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--button-colors);
}

main {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20em;
}

main div {
    border-radius: 1em;
    width: 20em;
    height: 20em;
    background-color: #FCE640;
    text-align: center;
    align-content: space-between;
}

body {
    background-image: linear-gradient(#644D26, #D1B585);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: auto; */
    background-image: linear-gradient(#FEFAD7, #D1B585);
    
}